/*================== nav bar ===================*/
.nav-wrapper {
	background: #ff8533;
	padding: 0px 25px;
}

.nearby-icon {
	height: 3rem;
	margin-top: 8px;
	margin-right: 25px;
}

/* ================== Modals ===================== */
.header-icon {
	padding-right: 0px !important;
}

.header-icon, .remember-check, .login-helper-link {
	margin-top: 0px !important;
}

.login-header {
	margin-top: 2.6rem !important;
	min-width: 85px;
}

.small {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/*==================== search form ===================*/
#searchform1{
	padding-top: 0.5rem;
}

.search-label {
	position: relative;
	font-size: 1.8rem;
	top: 1.25rem;
	color: black;
}

.search-text {
	font-size: 1.8rem !important;
}

.search_marker {
	position: relative;
	top: 1.4rem;
	right: .5rem;
}

.search-label:first-of-type {
	text-align: right;
	white-space: nowrap;
}

.search-button {
	position: relative;
	top: 1.1rem;
	left: 1.1rem;
}

.no_padding {
	padding: 0px !important;
}

.align-right {
	text-align: right;
}

/*================== slides =================*/
.slides {
	margin-bottom: 30px !important;
}

/*================== map =================*/
#map {
  height: 460px !important;
  width: 100%;
}

/*================== footer =================*/
.page-footer{
	background: #ff8533 !important;
	margin-top: 0px !important;
	padding-top: 0px !important;

	position: fixed;
	bottom: 0px;
	width: 100%;
}

.footer-copyright {
	background-color: #ff8533 !important;
}

.page-footer .container {
	margin-left: 25px;
}
