.nav-wrapper {
	background: #ff8533;
	padding: 0px 25px;
}

.search-label {
	position: relative;
	font-size: 1.8rem;
	top: 1.1rem;
	left: 0.75rem;
}

.search-text {
	font-size: 1.8rem !important;
}

.search-button {
	position: relative;
	top: 1.1rem;
	left: 1.1rem;
}

.nearby-icon {
	height: 3.8rem;
	margin-top: 2px;
	margin-right: 25px;
}

/* ============= log in modal =============== */
.header-icon {
	padding-right: 0px !important;
}

.header-icon, .remember-check, .login-helper-link {
	margin-top: 0px !important;
}

.login-header {
<<<<<<< HEAD
	margin-top: 2.6rem !important;
	min-width: 85px;
}

.small {				/* rows */
	margin-bottom: 0px;
	padding-bottom: 0px;
=======
	margin-top: 2.6rem;
	padding-left: 0px !important;

>>>>>>> development
}
